version: "3.9"
services:
  ratus:
    image: hyperonym/ratus:0.4.0
    restart: unless-stopped
    environment:
      ENGINE: "memdb"
      MEMDB_SNAPSHOT_PATH: "/ratus.db"
      MEMDB_SNAPSHOT_INTERVAL: "5m"
      MEMDB_RETENTION_PERIOD: "72h"
    ports:
      - "8000:80"
