version: "3.9"
services:
  ratus:
    image: hyperonym/ratus:0.6.0
    restart: unless-stopped
    environment:
      ENGINE: "memdb"
      MEMDB_SNAPSHOT_PATH: "/ratus.db"
      MEMDB_SNAPSHOT_INTERVAL: "5m"
      MEMDB_RETENTION_PERIOD: "72h"
    ports:
      - "8000:80"

  prometheus:
    image: prom/prometheus:v2.38.0
    restart: unless-stopped
    depends_on:
      - ratus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.console.libraries=/usr/share/prometheus/console_libraries"
      - "--web.console.templates=/usr/share/prometheus/consoles"
      - "--storage.tsdb.retention.time=30d"
    volumes:
      - type: bind
        source: ./prometheus.yml
        target: /etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:9.1.5
    restart: unless-stopped
    depends_on:
      - prometheus
    ports:
      - "3000:3000"
